<%= link_to 'add post', new_post_path %>

<ul>
<% @posts.each do |p| %>
  <li>
    <%= link_to '+', vote_post_path(p, vote: true), method: :post, class: 'btn btn-mini btn-info' if login? %>
    <%= p.total_votes %>
    <%= link_to '-', vote_post_path(p, vote: false), method: :post, class: 'btn btn-mini btn-danger' if login? %>
    <%= link_to p.title, post_path(p) %>
    <%= p.created_at %>
    <%= p.updated_at %>
    <%= link_to "Edit", edit_post_path(p) %>
  </li>
<% end %>
</ul>