<%= link_to 'add post', new_post_path %>

<ul>
<% @posts.each do |p| %>
  <li>
    <%= link_to '+', vote_post_path(p.slug, vote: true), method: :post, remote: true, class: 'btn btn-mini btn-info' if login? %>
    <span id="total_votes_<%= p.id %>"><%= p.total_votes %></span>
    <%= link_to '-', vote_post_path(p.slug, vote: false), method: :post, remote: true, class: 'btn btn-mini btn-danger' if login? %>
    <%= link_to p.title, post_path(p.slug) %>
    <%= time_zone_str(p.created_at) %>
    <%= p.updated_at %>
    <%= link_to "Edit", edit_post_path(p.slug) %>
  </li>
<% end %>
</ul>