<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'Post', posts_path %>
  </li>
  <li><%= link_to 'Category', categories_path %></li>

  <% if login? %>
    <li><%= link_to 'Logout', logout_path %></li>
  <% else %>
    <li><%= link_to 'Register', new_user_path %></li>
    <li><%= link_to 'Login', login_path %></li>
  <% end %>
</ul>
